target
*.project

*.classpath

/bos_management/target

*.classpath

/crm_domain/target


# eclipse ignore
.settings/
.project
.classpath
# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
